body {
    width: 1000px;
    margin: auto;
}

.hero-body {
    padding: 16px;
}

.hero-img {
    width: 60px;
    height: 60px;
}

.hero-font {
    color: #C886A4;
    font-family: 'Do Hyeon', sans-serif;
}

.wrap {
    width: 700px;
    margin: 30px auto 0px auto;
}

.input {
    margin-top: 10px;
}

input::placeholder {
    color: black;
    font-weight: bold;
}

textarea::placeholder {
    color: black;
    font-weight: bold;
}

.posting {
    margin-right: 20px;
    float: right;
}

/*지도 커스텀 오버레이 CSS*/
.overlay_info {
    border-radius: 6px;
    margin-bottom: 10px;
    float: left;
    position: relative;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ddd;
    background-color: #fff;
}

.overlay_info:nth-of-type(n) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}

.overlay_info a {
    display: block;
    background: #c886a4;
    /*background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;*/
    /*text-decoration: none;*/
    color: #fff;
    padding: 12px 25px 5px 20px;
    font-size: 15px;
    border-radius: 6px 6px 0 0
}

.overlay_info a strong {
    /*background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/place_icon.png) no-repeat;*/
    padding-left: 27px;
}

.overlay_info .desc {
    padding: 8px 15px 15px;
    position: relative;
    min-width: 190px;
    height: 60px
}

.overlay_info img {
    vertical-align: top;
}

.overlay_info .address {
    font-size: 12px;
    color: #333;
    position: absolute;
    left: 80px;
    right: 14px;
    top: 5px;
    white-space: normal
}

.overlay_info:after {
    content: '';
    position: absolute;
    margin-left: -11px;
    left: 50%;
    bottom: -12px;
    width: 22px;
    height: 12px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png) no-repeat 0 bottom;
}